

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1F1B1B;

}

.MainInfo {
    max-width: 100%;
    width: 100%;
    margin-bottom: 160px;
    padding-left: 25%;

}

.MTitle {
    margin-top: 50px;
    font-size: 32px;
    width: 40%;
    color: #00D1FF;
    margin-left: 20%;
}


.Email {
    width: 40%;
    margin-left: 20.13%;
    font-size: 20px;
    font-weight: 500px;
    color: #00D1FF;
}

a:link{
    text-decoration: none;
    color: #00D1FF;
    
}


#CVDocLinkESP, #CVDocLinkENG {
    text-align: center;
    font-weight: bold;
    color:#00D1FF;
}

.Photo {
    top: 5%;
    right: 25%;
    width: 240px;
    height: 360px;
    float: left;
    
}

#FrontFacingPhoto {
    width: 240px;
    height: 360px;
    border-radius: 10px;
}

.Line {
    top: 0px;
    left: 0px;
    margin-left: 20%;
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px #00B3FF,
                 0 0 10px #00B3FF,
                 0 0 10px #00B3FF,
                 0 0 10px #00B3FF,
                 0 0 10px #00B3FF;
    margin-bottom: 50px;
}

#IntroText{
    width: 50%;
    padding-left: 25%;
}

.CarouselContainer {
    max-width: 1100px;
    position: relative;
    margin: auto;
    background-color: #00000071;
}

#slideImg {
    padding-left: 70px;
    width: 960px;
    height: 540px;
}

.back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: #00D1FF;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.Separator {
    position: relative;
    margin-top: 50px;
    margin-left: 25%;
    color: #00D1FF;

}

#SlideTextHeader {
    color: #00D1FF;
    text-align: center;
    margin-top: 50px;
}

#Repository, #GitRepo {
    color: #00D1FF;
    align-content: center;
    text-align: center;
}

.CarouselTextContainer {
    max-width: 1100px;
    position: relative;
    width: 50%;
    padding-left: 25%;
    margin-bottom: 50px;
}

#SlideTextContent {
    text-align: left;
}



p {
    color: rgb(255, 255, 255)
}